##############################################################
#
# Do not rename, delete, or modify this file. Instead, make a copy of this file in the same directory as this
# and rename the copy as .env and modify it to add your port, secrets, connection properties, and gmail credentials.
#
##############################################################

SERVER_DOMAIN=http://localhost:8080 # the domain of the application server

EMAIL=emailaccount@gmail.com # an account which has an existing Chart.js++ account
PASSWORD=accountPassword # Chart.js++ account password for the above account

GMAIL_SENDER=gmailsender@gmail.com # the gmail account which the server sends emails from
GMAIL_PASSWORD=gmailapppassword # a gmail app password for the above gmail sender account