<html>

<body>
    <div>
        <h3>Account Controll</h3>
        <form id="accountForm" method="post">
            <div>
                <label for="curPassword">Current Password</label>
                <input type="password" name="curPassword" id="curPassword" />
            </div>
            <div>
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" id="newPassword" />
            </div>
            <div>
                <input type="submit" value="Update" />
            </div>
        </form>
    </div>
</body>

</html>