<html>

<body>
    <div>
        <h3>Account Control</h3>
        <div>
            <form id="accountForm" action="/account/password" method="post">
                <div>
                    <label for="curPassword">Current Password</label>
                    <input type="password" name="curPassword" id="curPassword" />
                </div>
                <div>
                    <label for="newPassword">New Password</label>
                    <input type="password" name="newPassword" id="newPassword" />
                </div>
                <div>
                    <label for="cnfPassword">Confirm Password</label>
                    <input type="password" id="cnfPassword" />
                </div>
                <div>
                    <input id="updateBtn" type="submit" value="Update" />
                </div>
            </form>
        </div>
        <div>
            <form id="accountForm" action="/account/delete" method="post">
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" />
                </div>
                <div>
                    <input id="deleteBtn" type="submit" value="Delete" />
                </div>
            </form>
        </div>
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/account.js"></script>
</body>

</html>