<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <title>Chart</title>
    <style>
        #dropDiv {
            border: 2px dashed #ccc;
            border-radius: 20px;
            width: 80%;
            font-family: sans-serif;
            margin: 50px;
            margin-top: 10px;
            padding: 20px;
        }

        #dropDiv.highlight {
            border-color: purple;
        }

        p {
            margin: 50px auto;
        }
    </style>
</head>

<body>
    <div id="chartDiv">
        <canvas id="myChart"></canvas>
    </div>
    <button id="downloadImgBtn">Download Image</button>
    <div>
        <input type="radio" name="charttype" value="bar">Bar<br>
        <input type="radio" name="charttype" value="pie">Pie<br>
        <input type="radio" name="charttype" value="line">Line<br>
    </div>
    <div id="dropDiv">
        <p>Upload CSV file by dragging and dropping onto the dashed region</p>
    </div>
    <script src="/scripts/parseData.js"></script>
    <script src="/scripts/dragDrop.js"></script>
    <script src="/scripts/chart.js"></script>
</body>

</html>