<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <title>Chart</title>
    <style>
        #drop-area {
            border: 2px dashed #ccc;
            border-radius: 20px;
            width: 480px;
            font-family: sans-serif;
            margin: 100px auto;
            padding: 20px;
        }

        #drop-area.highlight {
            border-color: purple;
        }

        #chartDiv{
            width:600px;
            height:580px;
        }

        p {
            margin-top: 0;
        }
    </style>
</head>

<body>
    <div id="chartDiv">
        <canvas id="myChart" width="600px" height="580px"></canvas>
    </div>
    <script src="/scripts/chart.js"></script>
</body>

</html>