<div class="overlay" id="cnfOverlay"></div>

<div class="msgPopup" id="confirmMsgPopup">
    <div class="popupcontent text-center">
        <span id="confirmMsgSpan"></span>
    </div>
    <div class="col text-end">
        <a class="btn btn-cls" data-toggle="tab" id="confirmPopupCnf">
            <span>Confirm</span>
        </a>
        <a class="btn btn-cls btn-cnf" data-toggle="tab" id="confirmPopupClose">
            <span>Cancel</span>
        </a>
    </div>
</div>