<html>

<body>
    <div>
        <h3>Forgot Password</h3>
        <form method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div>
                <input type="submit" value="Request Password Reset" />
            </div>
        </form>
    </div>
</body>

</html>