<div class="overlay" id="loginOverlay"></div>
<div class="login-wrapper p-4 msgPopup" id="loginPopup">
    <p class="text-end text-new-signup">Don't have an account?&nbsp;<a class="btn btn-signup-popup" data-toggle="tab"
            href="/signup" target="_blank">SIGN UP</a></p>
    <div class="d-flex">
        <div>
            <h1 class="text-hello">Hello! Welcome Back</h1>
            <p class="text-login">Login to your account</p>
        </div>
    </div>

    <form id="loginForm" method="post" class="form">

        <div class="form-control form-outline form-input">
            <label class="form-label" for="username">Email</label>
            <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" />
            <small>Error message</small>
        </div>

        <div class="form-control form-outline form-input">
            <label class="form-label" for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" />
            <small>Error message</small>
        </div>

        <a class="btn btn-forgot" data-toggle="tab" href="/forgotPassword" target="_blank">Forgot Password?</a>

        <div>
            <input class="btn btn-submit-login" type="submit" id="login" value="Login">
        </div>
    </form>
</div>

<script src="/scripts/loginPopup.js" nonce="<%= nonce %>"></script>