<!-- Noscript -->
<%- include('noscript.ejs', {}) %>

<nav id="navbar" class="navbar navbar-expand-sm logged notLogged">
    <div class="container-fluid">

        <!-- navbar brand -->
        <a id="home_link" class="navbar-brand" href="\">
            <img id='navbarBrand' src="/images/brandBlack.png" alt="Avatar Logo" class="nav-pill">
        </a>
        <!-- <%= pageName %> -->
        <button class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarcontent" aria-expanded="false"
            aria-label="Toggle navigation" id="nav_collapse_btn">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <% if (pageName !="dashboard" ) { %>
                    <li class="nav-item nav-left-item loggedOnly">
                        <a id="dashboard_link" class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                <% } %>

                <% if (pageName !="chart" ) { %>
                    <li class="nav-item nav-left-item">
                        <a id="chart_link" class="nav-link" href="/chart">Chart</a>
                    </li>
                <% } %>

                <% if (pageName != "sample") { %>
                    <li class="nav-item nav-left-item">
                        <a id="sample_link" class="nav-link" href="/sampleData" target="_blank">Sample</a>
                    </li>
                <% } %>
            </ul>

            <ul class="navbar-nav ms-auto">

                <% if (pageName !="account" ) { %>
                    <li class="nav-item loggedOnly">
                        <a id="account_link" class="nav-link" href="/account">
                            <span class="account-icon" title="account"><i class="fa-solid fa-user-gear"></i></span>
                            <span class="account-link">Account</span>
                        </a>
                    </li>
                <% } %>

                <li class="nav-item loggedOnly">
                    <a id="signout_link" class="nav-link" href="/logout">
                        <span class="account-icon" title="signout"><i class="fas fa-sign-out-alt fa-lg"></i></span>
                        <span class="account-link">Sign Out</span>
                    </a>
                </li>

                <% if (pageName !="login" ) { %>
                    <li class="nav-item notLoggedOnly">
                        <a id="signin_link" class="nav-link" href="/login">Sign In</a>
                    </li>
                <% } %>

                <% if (pageName !="signup" ) { %>
                    <li class="nav-item notLoggedOnly">
                        <a id="signup_link" class="nav-link" href="/signup">Sign Up</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>