<html>

<body>
    <div>
        <h3>Reset Password</h3>
        <form method="post">
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div>
                <input type="submit" value="Reset" />
            </div>
        </form>
    </div>
</body>

</html>