<html>

<body>
    <div>
        <h3>Reset Password</h3>
        <form method="post">
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <div>
                <label for="cnfPassword">Confirm Password</label>
                <input type="password" id="cnfPassword" />
            </div>
            <div>
                <input id="submitBtn" type="submit" value="Reset" />
            </div>
        </form>
    </div>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/resetPassword.js"></script>
</body>

</html>