<div class="overlay" id="overlay"></div>

<div class="msgPopup" id="msgPopup">
    <div class="popupcontent text-center">
        <span id="msgSpan"></span>
    </div>
    <div class="col text-end">
        <a class="btn btn-cls" data-toggle="tab" id="popupclose">
            <span>OK</span>
        </a>
    </div>
</div>