<div class="overlay" id="overlay"></div>

<div class="msgPopup" id="msgPopup" tabindex="-1">

    <div class="popupcontent text-center">
        <span class='msg-div' id="msgSpan"></span>
    </div>

    <div class="col text-end">
        
        <a class="btn btn-cnf" data-toggle="tab" id="popupconfirm" hidden>
            <span>Confirm</span>
        </a>

        <a class="btn btn-cnf btn-cls" data-toggle="tab" id="popupclose">
            <span>Cancel</span>
        </a>
        
    </div>

</div>