<div class="feature">
    <div class="feature-text feature-text__pull-right">
        <h3 class="subtitle">
            <span class="pill pill__new pill__v3">New in 3.5</span>
            Scale stacking
        </h3>
        <p class="description">Layout boxes can be stacked and weighted in groups.</p>
    </div>
    <div class="feature-chart feature-chart__left feature-chart__pull-right">
        <canvas id="v35box" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;" width="385"
            height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text">
        <h3 class="subtitle">
            <span class="pill pill__new pill__v3">New in 3.4</span>
            Subtitle plugin
        </h3>
        <p class="description">A secondary title plugin with all the same options as main title</p>
    </div>
    <div class="feature-chart feature-chart__right">
        <canvas id="v34subtitle" style="display: block; box-sizing: border-box; height: 200px; width: 300px;"
            width="375" height="250"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text feature-text__pull-right">
        <h3 class="subtitle">
            <span class="pill pill__new pill__v3">New in 3.1</span>
            Line segment styling
        </h3>
        <p class="description">Line segments can be styled by any user defined criteria.</p>
    </div>
    <div class="feature-chart feature-chart__left feature-chart__pull-right">
        <canvas id="v31segments" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;"
            width="385" height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text">
        <h3 class="subtitle">
            <span class="pill pill__new pill__v3">New in 3.0</span>
            Advanced animations
        </h3>
        <p class="description">Transitions of every property in every element can be configured individually and
            independently.</p>
    </div>
    <div class="feature-chart feature-chart__right">
        <canvas id="v3anims" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;" width="385"
            height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text feature-text__pull-right">
        <h3 class="subtitle">
            <span class="pill pill__new pill__v3">New in 3.0</span>
            Performance!
        </h3>
        <p class="description">Numerous performance enhancements have been introduced. This example has 1M (2x500k)
            points with the new decimation plugin enabled.</p>
    </div>
    <div class="feature-chart feature-chart__left feature-chart__pull-right">
        <canvas id="v3perf" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;" width="385"
            height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text">
        <h3 class="subtitle">
            <span class="pill pill__new">New in 2.0</span>
            Mixed chart types
        </h3>
        <p class="description">Mix and match bar and line charts to provide a clear visual distinction between datasets.
        </p>
    </div>
    <div class="feature-chart feature-chart__right">
        <canvas id="mixed-chart" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;"
            width="385" height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text feature-text__pull-right">
        <h3 class="subtitle">
            <span class="pill pill__new">New in 2.0</span>
            New chart axis types
        </h3>
        <p class="description">Plot complex, sparse datasets on date time, logarithmic or even entirely custom scales
            with ease.</p>
    </div>
    <div class="feature-chart feature-chart__left feature-chart__pull-right">
        <canvas id="axis-chart" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;"
            width="385" height="256"></canvas>
    </div>
</div>
<div class="feature">
    <div class="feature-text">
        <h3 class="subtitle">
            <span class="pill pill__new">New in 2.0</span>
            Animate everything!
        </h3>
        <p class="description">Out of the box stunning transitions when changing data, updating colours and adding
            datasets.</p>
    </div>
    <div class="feature-chart feature-chart__right">
        <canvas id="animate-chart" style="display: block; box-sizing: border-box; height: 204.8px; width: 308px;"
            width="385" height="256"></canvas>
    </div>
</div>