body {
    background-color: #F9FCFF;
}
.con-pad{
    padding: 20px;
    padding-top: 0px;

}
.title-saved {
    margin-top: 20px;
    margin-bottom: 10px;
}
.cus-select{
    width: fit-content;
    /* padding: 3px 15px 3px 15px; */
    border-radius: 4px;
    border: 1px solid gray;
    color: #eae6e6;
    height: 30px;
    background-color: #6b6b6c;
}
.cus-select option{
    font-weight: bold;
}

.btn {
    /* width: fit-content; */
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    border: 1px solid gray;
}
.btn-icon1 {
    border-radius: 6px;
    background-color: #6b6b6c;
}
.btn-icon-hov1{
    color: white;
}
.btn-icon-hov1:hover {
    color: #060505;
}

.btn-icon {
    border-radius: 6px;
    background-color: #d862ff;
}
.btn-icon-hov{
    color: white;
}
.btn-icon-hov:hover {
    color: #373737;
}

.btn-signup {
    font-weight: bold;
    color: gray;
    font-size: small;
}
.btn-align{
    float: right;
}

.btn-frogot {
    color: gray;
    padding: 0 0 0 0;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-submit {
    background-color: #d862ff;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    box-shadow: 8px 8px 15px #a7aaa7;
}

.btn-submit:hover {
    color: #373737;
}

.text-new-signup {
    color: gray;
}

.text-hello {
    margin-top: 25px;
}

.text-login {
    color: gray;
    margin-bottom: 25px;
}

.text-chartjs {
    color: #ffffff;
}

.wrapper {
    max-width: 100%;
    min-height: 550px;
    margin: 50px auto;
    padding: 20px 40px;
    padding-bottom: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.name {
    padding: 2px 2px 2px 0;
    color: #000000;
}

.pill {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d862ff;
    padding: 20px 20px;
    min-width: 45%;
}

.brand-row {
    margin-bottom: auto;
}

.image-chart {
    max-width: 100%;
    margin-bottom: 20px;
}

.login-wrapper {
    min-width: 55%;
}

.form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}
.fa-user-gear {
    color: gray;
}

.fa-user-gear:hover {
    color: #373737;
}
.fa-circle-plus {
    color: white;
}
.fa-circle-plus:hover {
    color: #373737;
}
.table-bord{
    border-color: #373737;
    padding: 0px;
}
.chart-sty{
    
    max-height: 80vh;
}