body {
    background-color: var(--bg-light-blue);
    font-family: "proxima-nova-soft", sans-serif;
}

.btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin: 8px;
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    width: 150px;
}

.btn:hover {
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow-gray);
}

.btn-icon {
    padding: 1px 2px 2px 2px;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.btn-icon-selected {
    background-color: var(--shadow-gray);
}

.btn-submit {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-size: large;
    padding: 3px;
    border: none;
}

.btn-cn {
    margin: 0;
    margin-left: 5px;
    padding: 3px 15px 2px 5px;
    width: fit-content;
    align-items: flex-end;
}

.btn-dw {
    padding-right: 10px;
    padding-top: 3px;
    padding-left: 5px;
    margin: 8px;
    height: 35px;
    width: 70px;
    color: var(--black);
    border: 1px solid var(--gray);
    width: fit-content;
    font-weight: normal;
    font-size: medium;
}

.btn-dw:hover {
    color: var(--black);
}

.btn-ex {
    padding-right: 10px;
    width: fit-content;
    align-items: flex-end;
    margin: 5px auto;
}

.btn-chart-type {
    background-color: var(--white);
    color: var(--black);
    width: 100%;
    max-width: 150px;
    padding: 3px;
    border: 1px solid var(--gray);
    margin: 0;
    font-weight: normal;
    font-size: small;
}

.btn-chart-type:hover {
    background-color: var(--purple);
    border-color: var(--purple);
}

.btn-check:active+.btn-outline-success,
.btn-check:checked+.btn-outline-success,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
    color: var(--white);
    background-color: var(--purple);
    border-color: var(--purple);
}

.btn-back {
    padding-right: 10px;
    padding-top: 3px;
    padding-left: 5px;
    margin: 0;
    color: var(--black);
    border: none;
    width: fit-content;
    height: 30px;
    font-weight: normal;
    font-size: small;
}

.btn-back:hover {
    color: var(--black);
}

.title-saved {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-floppy-disk,
.fa-trash-can,
.fa-download,
.fa-share-nodes,
.fa-circle-check,
.fa-check-circle,
.fa-edit {
    color: var(--purple);
}

.fa-floppy-disk:hover,
.fa-trash-can:hover,
.fa-download:hover,
.fa-share-nodes:hover,
.fa-circle-check:hover,
.fa-check-circle:hover,
.fa-edit:hover {
    color: var(--dark-purple);
    cursor: pointer;
}

.fa-times-circle {
    color: var(--red);
}

.fa-times-circle:hover {
    color: var(--dark-red);
    cursor: pointer;
}

.fa-check-circle {
    color: var(--green);
}

.fa-check-circle:hover {
    color: var(--dark-green);
    cursor: pointer;
}

.fa-x {
    color: var(--red);
}

.fa-italic,
.fa-bold {
    color: var(--black);
}

.icon-hidden {
    visibility: hidden;
}

.fa-folder-open {
    margin-bottom: 0;
    width: 100%;
}

.fa-circle-plus {
    color: var(--white);
}

.fa-expand-alt {
    color: var(--white);
}

.save-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-chart-main {
    max-width: 100%;
    min-height: 550px;
    margin: 50px auto;
    padding: 20px 40px;
    padding-bottom: 45px;
    background-color: var(--white);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.gen-main-div {
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px auto;
    max-width: 700px;
}

.dropDiv {
    border: 2px dashed var(--gray);
    border-radius: 20px;
    width: 100%;
    margin: 30px auto;
    background-color: var(--lighter-gray);
}

.name-input {
    border: 2px solid var(--input-border-gray);
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 5px;
}

.wrapper-chart {
    margin: 0px 20px;
}

#dropDiv.highlight {
    border-color: var(--middle-purple);
}

.chart-type {
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.chart-type small {
    color: var(--red-error);
    visibility: hidden;
}

.drop-span.error {
    color: var(--red-error);
}

.chart-type.error small {
    visibility: visible;
}

.form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    width: 70px;
}

.color-input {
    padding: 3px;
    height: 30px;
    width: 30px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 5px;
    border-color: var(--gray);
}

.form-control.error input {
    border-color: var(--red-error);
}

.form-control small {
    color: var(--red-error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.chart-sty {
    max-width: 100%;
    max-height: 80vh;
}

.a {
    text-decoration: none;
}

.form-label {
    color: var(--black);
}

.breadcrum-div {
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;
}

.btn-back {
    float: left;
}

#crumbs {
    overflow: hidden;
}

ol {
    list-style: none;
    display: inline-table;
}

ol li {
    display: inline;
    display: block;
    float: left;
    height: 30px;
    background: #F3F5FA;

    text-align: center;
    padding: 8px 10px 10px 25px;
    position: relative;
    margin: 0 10px 0 0;

    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #8093A7;
}

ol li:after {
    content: "";
    border-top: 15.5px solid transparent;
    border-bottom: 15.5px solid transparent;
    border-left: 15px solid #F3F5FA;
    position: absolute;
    right: -14.5px;
    top: 0;
    z-index: 1;
}

ol li:before {
    content: "";
    border-top: 15.5px solid transparent;
    border-bottom: 15.5px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#crumbs ol li:first-child {
    padding-left: 15px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#crumbs ol li:first-child:before {
    display: none;
}

#crumbs ol li:last-child {
    padding-right: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #357DFD;
    color: #fff;
}

#crumbs ol li:last-child:after {
    display: none;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    background-color: var(--white);
    color: var(--white);
    padding: 10px 10px 20px 10px;
    position: absolute;
    z-index: 1;
    right: auto;
    border-radius: 5px;
    min-width: 221px;
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.popup .downloadPopup {
    visibility: hidden;
    background-color: var(--white);
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 50;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.popup .downloadPopup::after {
    content: "";
    position: absolute;
    top: -22%;
    left: 48.5%;
    z-index: 100;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-submit:focus {
    border: none !important;
}

.text-new-signup {
    color: var(--gray);
}

.btn-signup-popup {
    color: var(--gray);
    font-size: small;
    width: fit-content;
    border: 1px solid var(--gray);
    padding: 3px 15px;
}

.btn-signup-popup:hover {
    color: var(--gray);
}

.login-wrapper {
    display: none;
    position: fixed;
    /* display: none; */
    top: 15%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    background-color: var(--white);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
    z-index: 50;
}

.form .form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form .form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form .form-control input {
    border: 1px solid var(--input-border-gray);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form .form-control.error input {
    border-color: var(--red-error);
}

.form .form-control small {
    color: var(--red-error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form .form-control.error small {
    visibility: visible;
}

.form input:focus {
    outline: none !important;
    border: 1px solid var(--purple);
}

.btn-frogot {
    width: fit-content;
    color: var(--gray);
    padding: 0;
    border: none;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    font-weight: normal;
    font-size: small;
}

.btn-frogot:hover {
    color: var(--black);
    box-shadow: none;
}

.btn-frogot:focus {
    border: none !important;
}

.btn-submit-login {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    margin-left: 0;
}

input:focus {
    outline: none !important;;
    border: 2px solid var(--purple);
}


/* dark mode theme */

.dark-mode {
    background-color: black;
}

.dark-mode .wrapper-chart-main,
.dark-mode .login-wrapper {
    background-color: #1d2226;
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.dark-mode .btn-chart-type {
    background-color: #1d2226;
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
}

.dark-mode .fa-folder-open {
    color: #e9e9ea;
}

.dark-mode .dropDiv {
    border: 2px dashed #e9e9ea;
    background-color: #535353;
}

.dark-mode .drop-span {
    color: #e9e9ea;
}

.dark-mode .drop-span.error {
    color: var(--red-error);
}

.dark-mode .form-control,
.dark-mode .form-control h5,
.dark-mode .form-control span {
    color: #e9e9ea;
    background-color: #1d2226;
}

.dark-mode .fa-floppy-disk:hover,
.dark-mode .fa-trash-can:hover,
.dark-mode .fa-download:hover,
.dark-mode .fa-share-nodes:hover,
.dark-mode .fa-circle-check:hover,
.dark-mode .fa-edit:hover {
    color: var(--light-purple);
}

.dark-mode .btn-icon {
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
    background-color: #1d2226;
}

.dark-mode .btn-icon .fa-italic,
.dark-mode .btn-icon .fa-bold {
    color: #e9e9ea;
}

.dark-mode .btn-icon {
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
    background-color: #1d2226;
}

.dark-mode .btn-icon-selected {
    background-color: #484a4b;
}

.dark-mode .size-select {
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
    background-color: #1d2226;
}

.dark-mode .name-display {
    color: #e9e9ea;
}

.dark-mode .name-input {
    background-color: #1d2226;
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
}

.dark-mode .fa-check-circle:hover {
    color: var(--light-green);
}

.dark-mode .fa-times-circle:hover {
    color: var(--light-red);
}

.dark-mode .popup .popuptext {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.dark-mode .popup .downloadPopup {
    background-color: var(--black);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.dark-mode .popup .downloadPopup::after {
    border-color: transparent transparent var(--black) transparent;
}

.dark-mode .fa-file-pdf,
.dark-mode .fa-file-image,
.dark-mode .btn-dw {
    background-color: #1d2226;
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
}

.dark-mode .form-label {
    color: #e9e9ea;
}

.dark-mode ol li:before {
    border-left: 15px solid #1d2226;
}

.dark-mode #crumbs ol li:last-child {
    color: #1d2226;
}

.dark-mode .gen-main-div h6,
.dark-mode .gen-main-div h5,
.dark-mode .fa-caret-left {
    color: #e9e9ea;
}

.dark-mode .btn-back span {
    color: #e9e9ea;
}

.dark-mode .btn-signup-popup {
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
}

.dark-mode .text-new-signup,
.dark-mode .text-hello,
.dark-mode .text-login {
    color: #e9e9ea;
}

.dark-mode .btn-frogot {
    color: #e9e9ea;
}