body {
    background-color: #F9FCFF;
}

.con-pad {
    padding: 20px;
    padding-top: 0px;

}

.title-saved {
    margin-top: 20px;
    margin-bottom: 10px;
}

.prop-btns {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0;
    padding-left: 0;
}

.cus-select {
    width: fit-content;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    color: #000000;
    height: 30px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 5px;
}

.cus-select option {
    font-weight: normal;
}

.btn {
    /* width: fit-content; */
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    border: 1px solid gray;
}

.fa-floppy-disk,
.fa-trash-can,
.fa-download,
.fa-share-nodes,
.fa-circle-check,
.fa-check-circle,
.fa-edit {
    color: #d862ff;
}

.fa-floppy-disk:hover,
.fa-trash-can:hover,
.fa-download:hover,
.fa-share-nodes:hover,
.fa-circle-check:hover,
.fa-check-circle:hover
.fa-edit:hover {
    color: #20012a;
}

.fa-times-circle {
    color: red;
}

.fa-times-circle:hover {
    color: rgb(65, 1, 1);
}

.fa-check-circle {
    color: rgb(30, 218, 30);
}

.fa-check-circle:hover {
    color: rgb(0, 52, 0);
}

.fa-x {
    color: red;
}

.icon-hidden {
    visibility: hidden;
}

.fa-italic,
.fa-underline,
.fa-bold {
    color: black;
}

.btn-icon {
    padding: 1px 2px 1px 2px;
    border-radius: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 0;
    margin-right: 5px;
}

.btn-icon-selected {
    background-color: #a7aaa7;
}

.btn-signup {
    font-weight: bold;
    color: gray;
    font-size: small;
}

.btn-align {
    float: right;
}

.btn-frogot {
    color: gray;
    padding: 0 0 0 0;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.btn-submit {
    background-color: #d862ff;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    box-shadow: 8px 8px 15px #a7aaa7;
}

.btn-cn {
    padding: 3px 15px 2px 5px;
    width: fit-content;
    align-items: flex-end;
}

.btn-chart-type {
    background-color: white;
    color: #000000;
    width: 100%;
    max-width: 200px;
    padding: 3px auto;
    border-color: gray;
}

.btn-chart-type:hover {
    background-color: #d862ff;
}

.btn-check:active+.btn-outline-success,
.btn-check:checked+.btn-outline-success,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
    color: #ffffff;
    background-color: #d862ff;
    border-color: #d862ff;
}

.btn-submit:hover {
    color: #373737;
}

.text-new-signup {
    color: gray;
}

.text-hello {
    margin-top: 25px;
}

.text-login {
    color: gray;
    margin-bottom: 25px;
}

.text-chartjs {
    color: #ffffff;
}

.text-input {
    max-width: 80%;
}

.save-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    max-width: 100%;
    min-height: 550px;
    margin: 50px auto;
    padding: 20px 40px;
    padding-bottom: 45px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.gen-main-div {
    padding-left: 30px;
    padding-right: 30px;
    margin: 30px auto;
    max-width: 700px;
}

#dropDiv {
    border: 2px dashed rgb(92, 92, 92);
    border-radius: 20px;
    width: 100%;
    font-family: sans-serif;
    margin: 30px auto;
    background-color: #f7f7f7;
}

.fa-folder-open {
    margin-bottom: 0;
    width: 100%;
}

.name {
    padding: 2px 2px 2px 0;
    color: #000000;
}

.text-saved {
    font-weight: bold;
}

.name-input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 5px;
}

.pill {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d862ff;
    padding: 20px 20px;
    min-width: 45%;
}

.brand-row {
    margin-bottom: auto;
}

.image-chart {
    max-width: 100%;
    margin-bottom: 20px;
}

.login-wrapper {
    min-width: 55%;
}

.wrapper-chart {
    margin: 0px 20px;
}

.prop-div {
    width: 100%;
    height: 100%;
}

#dropDiv.highlight {
    border-color: purple;
}

.chart-type {
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.chart-type small {
    color: #e74c3c;
    visibility: hidden;
}

.drop-span.error {
    color: #e74c3c;
}

.chart-type.error small {
    visibility: visible;
}

.form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.chart-type-select {
    font-size: medium;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.name-text-input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 85%;
    padding: 5px;
}

.chart-name-input {
    border: none;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
}

.color-input {
    padding: 3px;
    height: 30px;
    width: 30px;
}

.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 5px;
    border-color: gray;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.fa-user-gear {
    color: gray;
}

.fa-user-gear:hover {
    color: #373737;
}

.fa-circle-plus {
    color: white;
}

.fa-circle-plus:hover {
    color: #373737;
}

.table-bord {
    border-color: #373737;
    padding: 0px;
}

.chart-sty {
    max-width: 100%;
    max-height: 80vh;
}

.a {
    text-decoration: none;
}

.edit-sty {
    border-color: #d862ff;
    border-style: solid;
    padding-left: 4px;
}

.form-label {
    color: #000000;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    background-color: #ffffff;
    color: #fff;
    padding: 10px 10px 20px 10px;
    position: absolute;
    z-index: 1;
    top: 75%;
    left: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}