.btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin: 8px;
    color: var(--btn-text);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    width: 150px;
}

.btn:hover {
    color: var(--btn-text);
    box-shadow: 0px 0px 4px 1px var(--shadow-gray);
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--btn-text);
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    margin-left: 0;
    width: fit-content;
    margin-top: 0;
}

.title-saved {
    color: var(--text-primary);
    margin-top: 20px;
    margin-bottom: 40px;
}

.text-chart-name {
    color: var(--text-primary);
    margin-bottom: 0;
}

.text-details {
    color: var(--text-secondary);
    margin-bottom: 0;
    font-size: small;
}

.wrapper {
    max-width: 100%;
    min-height: 550px;
    margin: 50px auto;
    padding: 2% 5%;
    padding-bottom: 45px;
    background-color: var(--bg-wrapper);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.card {
    max-width: 80%;
    margin-bottom: 20px;
    min-height: 92%;
}

.text-chart-name {
    width: fit-content;
}

.card-img-area:hover,
.text-chart-name:hover,
.fa-trash-can:hover {
    cursor: pointer;
}

.btn-cn {
    margin: 0;
    margin-left: 5px;
    padding: 3px 15px 2px 10px;
    width: fit-content;
    align-items: flex-end;
}

.card-col {
    margin-bottom: 40px;
}

.form-control {
    background-color: var(--bg-wrapper);
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    color: var(--text-primary);
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    background-color: var(--bg-wrapper);
    color: var(--text-primary);
    border: 1px solid var(--input-border);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input {
    border-color: var(--red-error);
}

.form-control small {
    color: var(--red-error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.card {
    margin: 10px auto;
    border: 1px solid var(--text-secondary);
}

.fa-circle-plus {
    color: var(--btn-text);
}

.fa-trash-can {
    color: var(--color-trash);
    float: right;
}

.fa-trash-can:hover {
    color: var(--color-trash-h);
}

.card-body {
    flex: 1 1 auto;
    padding: 0 0;
}

.card-body,
.list-group-item,
.card-img-top {
    background-color: var(--bg-wrapper);
    color: var(--text-primary);
}

li {
    border-color: var(--text-secondary);
}

.list-group-item {
    border: 1px solid var(--text-secondary);
}

.text-no-chart {
    color: var(--text-primary);
}

#chartCount {
    color: var(--btn-text);
    margin-left: 5px;
    background-color: var(--primary-color);
    padding: 3px 6px;
    border-radius: 5px;
}

.saved-text {
    padding: 3px 6px;
}

@media only screen and (max-width: 1200px) {
    .col-md-4 {
        width: 50%;
    }
}

@media only screen and (max-width: 770px) {
    .col-md-4 {
        width: 100%;
    }
}