:root {
    --white: #ffffff;
    --lighter-gray: #f7f7f7;
    --light-gray: #e5e7eb;
    --black: #000000;
    --input-border-gray: #f0f0f0;
    --shadow-gray: #a7aaa7;
    --gray: #808080;
    --dash-icon-gray: #373737;
    --wrapper-shadow-gray: rgba(0, 0, 0, 0.1);
    --bg-light-blue: #F9FCFF;
    --purple: #d862ff;
    --middle-purple: #800080;
    --dark-purple: #20012a;
    --red: #E70E0E;
    --dark-red: #410101;
    --red-error:  #e74c3c;
    --delete-area-bg: #FFEBEB;
    --red-light: #FFEBEB;
    --green: #1eda1e;
    --dark-green: #003400;
}

/* navbar */
.navbar-brand {
    padding: 2px 2px 2px 0;
    font-weight: bold;
    font-size: x-large;
    color: var(--black);
}

.nav-pill {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 1px;
    border-radius: 50%;
}

.nav-link {
    color: var(--black);
    font-weight: bold;
}

.navbar {
    box-shadow: 2px 2px 5px var(--wrapper-shadow-gray);
    padding-top: 4px;
}

.navbar-toggler {
    width: 26px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--red);
    border-radius: 25px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* open */
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* close */
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: var(--purple);
}

i {
    color: purple;
    margin: 5px;
}