.wrapper {
    max-width: 900px;
    min-height: 550px;
    margin: 50px auto;
    background-color: var(--bg-wrapper);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
    padding: 50px 5% 20px 5%;
}

.pill {
    width: 192px;
    margin-left: auto;
    margin-right: auto;
}

.chart-title {
    color: var(--text-primary);
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}

.chart-subtitle {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin: 8px;
    color: var(--btn-text);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    width: 150px;
}

.btn:hover {
    color: var(--btn-text);
    box-shadow: 0px 0px 4px 1px var(--shadow-gray);
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-green {
    background-color: var(--btn-green);
}

.feature:before,
.feature:after {
    content: " ";
    display: table;
}

.feature:after {
    clear: both;
}

.feature-text,
.feature-chart {
    float: left;
    width: 50%;
}

.feature-text__pull-right,
.feature-chart__pull-right {
    float: right;
}

@media only screen and (max-width: 768px) {

    .feature-text,
    .feature-chart {
        width: 100%;
        float: none;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.feature-text {
    padding-top: 30px;
}

.subtitle {
    font-weight: 600;
    font-size: 1.25rem;
}

.pill_1 {
    padding: 8px 10px;
    font-size: medium;
    vertical-align: middle;
    display: inline-block;
    color: var(--btn-text);
    border-radius: 8px;
    margin-right: 8px;
    background-color: var(--btn-blue);
}

.description {
    color: var(--text-primary);
    line-height: 1.5;
}

.feature-chart__left {
    padding-right: 20px;
}

hr {
    color: var(--text-secondary) !important;
    height: 1px !important;
    margin-top: 10px;
    margin-bottom: 2px;
}

.image-labal {
    margin: auto;
    max-width: 100%;
    /* margin-bottom: 0px; */
}

.chart-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}