.btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin: 8px;
    color: var(--btn-text);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    width: 150px;
}

.btn:hover {
    color: var(--btn-text);
    box-shadow: 0px 0px 4px 1px var(--shadow-gray);
}

.btn-signup {
    color: var(--text-secondary);
    font-size: small;
    width: fit-content;
    border: 1px solid var(--text-secondary);
    padding: 3px 15px;
    margin-right: 0;
}

.btn-signup:hover {
    color: var(--text-secondary);
}

.btn-forgot {
    width: fit-content;
    color: var(--text-secondary);
    padding: 0;
    border: none;
    margin-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    font-weight: normal;
    font-size: small;
}

.btn-forgot:hover {
    color: var(--text-primary-h);
    box-shadow: none;
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--btn-text);
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    margin-left: 0;
}

.btn-submit:focus,
.btn-forgot:focus {
    border: none !important;
}

.text-new-signup {
    color: var(--text-secondary);
}

.text-hello {
    color: var(--text-primary);
    margin-top: 25px;
}

.text-login {
    color: var(--text-secondary);
    margin-bottom: 25px;
}

.wrapper {
    max-width: 900px;
    min-height: 550px;
    margin: 50px auto;
    background-color: var(--bg-wrapper);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.pill {
    height: 50px;
    width: 250px;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-gradient);
    padding: 20px 20px;
    min-width: 45%;
}

.brand-row {
    margin-bottom: auto;
}

.image-chart {
    max-width: 100%;
    margin-bottom: 20px;
}

.login-wrapper {
    min-width: 55%;
}

.form-control {
    background-color: var(--bg-wrapper);
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    color: var(--text-primary);
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    background-color: var(--bg-wrapper);
    color: var(--text-primary);
    border: 2px solid var(--input-border);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input {
    border-color: var(--red-error);
}

.form-control small {
    color: var(--red-error);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

input:focus {
    outline: none !important;
    border: 2px solid var(--primary-color);
}

@media only screen and (max-width: 768px) {
    /* .image-chart {
        max-width: 80%;
        margin: 0 auto;
    } */

    .login-wrapper {
        width: 100%;
    }

    .img-area {
        display: none;
    }

    .text-hello {
        margin-top: 10px;
    }

    .wrapper {
        min-height: 0px;
    }
}