body {
    background-color: var(--bg-light-blue);
    font-family: "proxima-nova-soft", sans-serif;
}

.btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px;
    margin: 8px;
    color: var(--white);
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
    width: 150px;
}

.btn:hover {
    color: var(--white);
    box-shadow: 0px 0px 4px 1px var(--shadow-gray);
}

.btn-signup {
    color: var(--gray);
    font-size: small;
    width: fit-content;
    border: 1px solid var(--gray);
    padding: 3px 15px;
}

.btn-signup:hover {
    color: var(--gray);
}

.btn-forgot {
    color: var(--gray);
    padding: 0;
    border: none;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
}

.btn-forgot:hover {
    color: var(--black);
    box-shadow: none;
}

.btn-submit {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    margin-left: 0;
    width: fit-content;
}

.text-hello {
    margin-top: 25px;
}

.text-login {
    color: var(--gray);
    margin-bottom: 10px;
}

.text-chartjs {
    color:  var(--white);
}

.wrapper {
    max-width: 900px;
    min-height: 100px;
    margin: 50px auto;
    background-color:  var(--white);
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}

.name {
    padding: 2px 2px 2px 0;
    color:  var(--black);
}

.pill {
    height: 50px;
    width: 250px;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--purple1);
    background: linear-gradient(331deg, var(--purple1) 0%, var(--purple) 49%, var(--purple0) 100%); 
    padding: 20px 20px;
    min-width: 45%;
}

.brand-row {
    margin-bottom: auto;
}

.image-chart {
    max-width: 100%;
    margin-bottom: 20px;
}

.form-wrapper {
    min-width: 55%;
}

.form {
    margin: 20px auto;
    margin-bottom: 40px;
}

.form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    border: 1px solid var(--input-border-gray);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input {
	border-color: var(--red-error);
}

.form-control small {
	color: var(--red-error);
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.btn-submit:focus {
    border: none !important;
}

input:focus {
    outline: none !important;;
    border: 2px solid var(--purple);
}







.dark-mode {
    background-color: black;
}

.dark-mode .wrapper {
    background-color: #1d2226;
    box-shadow: 0px 0px 4px 2px var(--wrapper-shadow-gray);
}


.dark-mode .form-control {
    background-color: #1d2226;
}

.dark-mode .form-control label {
    color: #e9e9ea;
}

.dark-mode .form-control input {
    border: 1px solid var(--input-border-gray);
    color: #e9e9ea;
    background-color: #1d2226;
}

.dark-mode .form-control.error input {
    border-color: var(--red-error);
}

.dark-mode .text-hello {
    color: #e9e9ea;
}

.dark-mode .text-login {
    color: #e9e9ea;
}

.dark-mode .btn-signup {
    color: #e9e9ea;
    border: 1px solid #e9e9ea;
}

.dark-mode .fa-arrow-left {
    color: #e9e9ea;
}