body {
    background-color: #F9FCFF;
}

.btn {
    width: fit-content;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    border: 1px solid gray;
}

.btn-signup {
    font-weight: bold;
    color: gray;
    font-size: small;
}

.btn-frogot {
    color: gray;
    padding: 0 0 0 0;
    border: none;
    margin-bottom: 20px;
}

.btn-submit {
    background-color: #d862ff;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 3px 20px 3px 20px;
    border: none;
    margin-top: 5px;
    box-shadow: 8px 8px 15px #a7aaa7;
}

.btn-submit:hover {
    color: #373737;
}

.text-new-signup {
    color: gray;
}

.text-hello {
    margin-top: 25px;
}

.text-login {
    color: gray;
    margin-bottom: 25px;
}

.text-chartjs {
    color: #ffffff;
}

.wrapper {
    max-width: 900px;
    min-height: 550px;
    margin: 50px auto;
    /* padding: 20px 20px; */
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.name {
    padding: 2px 2px 2px 0;
    color: #000000;
}

.pill {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.img-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d862ff;
    padding: 20px 20px;
    min-width: 45%;
}

.brand-row {
    margin-bottom: auto;
}

.image-chart {
    max-width: 100%;
    margin-bottom: 20px;
}

.signup-wrapper {
    min-width: 55%;
}

.form-control {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border: none;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

/* navbar */
.navbar-brand {
    padding: 2px 2px 2px 0;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    font-family: Helvetica, sans-serif;
}

.nav-pill {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: 1px;
    border-radius: 50%;
}

.nav-link {
    color: black;
    font-weight: bold;
}

.navbar {
    box-shadow: 2px 2px 5px rgb(203, 203, 203);
    padding-top: 4px;
}

.navbar-toggler {
    width: 26px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ff161e;
    border-radius: 25px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* open */
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* close */
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: #cd32fa;
}

i {
    color: purple;
    margin: 5px;
    /* font-size: x-large; */
}